{% extends 'base.html.twig' %}

{% block title %}Edit Event{% endblock %}

{% block body %}
<div class="row">
    <div class="container">
        <div class="col s12 m12">
            <div class="card">
                <div class="card-content grey-text text-darken-4">
                    <span class="card-title center">Edition de l'element</span>
                    <div class="card-body">
                        {{ form_start(form) }} 
                            {{ form_label(form.name) }}
                        {{ form_widget(form.name) }}
                        {{ form_label(form.price) }}
                        {{ form_widget(form.price) }}
                        {{ form_label(form.subTitle) }}
                        {{ form_widget(form.subTitle) }}
                        {{ form_label(form.emplacement) }}
                        {{ form_widget(form.emplacement) }}
                        {{ form_label(form.imageFile) }}
                        {{ form_widget(form.imageFile) }}
                        <button class="btn waves-effect waves-light right green" type="submit" name="action" value="Editer">Editer
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                    <div class="">
                        <a class="btn" href="{{ path('event_list') }}">Retourner au listing</a>
                        <a class="btn red" href="{{ path('event_delete', { 'id': event.id }) }}">Supprimer</a>
                    </div>
                        {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>       
</div>         
{% endblock %}
