{% extends 'base.html.twig' %}

{% block title %}event index{% endblock %}

{% block body %}
<body style="background-image:url('{{ asset('images/bg/bg_event.jpg') }}');">
<div class="container">
    <div class="row" style="margin-top:10vh;">
        <h1 class="center">Nos Evenements</h1>
    </div>
    <ul class="collection">
        {% for event in events %}
            <li class="row collection-item avatar" style="border-radius:22px;color:white;margin-top: inherit;background-color: rgba(0,0,0,.5);">
                <div class="col s8">
                    <h3 class="eventTitle truncate" title="{{ event.name }}">{{ event.name }}</h3>
                    <p style="margin-top:20px"><small><a href="#" class="modal-trigger" data-target="modal{{ event.id }}">cliquez ici pour en savoir plus</a></small></p>
                </div>
                <div class="col s2">
                <img class="materialboxed" height="85" width="150" src="{{ vich_uploader_asset(event, 'imageFile') }}">
                {# <div class="card blue-grey darken-1" style="min-height: 200px;background-image:url('');background-repeat:no-repeat;background-size: 100% 100%;background-attachment: cover;"> #}
                {# </div> #}
            </li>
            <div class="modal fade" id="modal{{ event.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl" role="document" >
                    <div class="modal-content" style="background-color:red;">
                        <div class="modal-header" style="border: none;z-index:1;">
                            <h5 class="modal-title mt-3" style="color:#fff;background-color:#000;padding-left:1vh;padding-right:1vh;"><b>{{ event.name }}</b></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body col-lg-6 col-md-8 col-sm-10 ml-4" style="color:#000;background-color:#fff;padding-top:4vh;margin-top:-4vh;margin-bottom:2vh;max-height:60vh;overflow:scroll;">
                                {% if event.subtitle is defined and event.subtitle is not null %}<h3 style="font-size:12px;"><b>{{ event.subtitle }}</b></h3>{% endif %}
                                {% if event.price is defined and event.price is not null %}<p style="font-size:12px; font-family:initial">Tarif : {{ event.price }}</p>{% endif %}
                                <p>Pour pLus d'informations , contacter un membre du BDE via bde@my-digital-school</p>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="center">
                <h2>Aucun Evenement pour le moment</h2>
            </div>
        {% endfor %}
        </ul>
        {% for event in events %}
            
        {% endfor %}
{% endblock %}
{% block javascripts %}
<script>
$(document).ready(function(){
    $('.modal').modal();
    $('.materialboxed').materialbox();
  });
</script>
{% endblock %}