{% extends 'base.html.twig' %}

{% block title %}Evenements{% endblock %}

{% block body %}
<body style="background-image:url('{{ asset('images/bg/bg_event.jpg') }}');">
<div class="container">
    <div class="row" style="margin-top:10vh;">
        <h1 class="center">Nos Evenements</h1>
    </div>
    <ul class="collection">
        {% for event in events %}
            <li class="row collection-item avatar" style="border-radius:22px;color:white;margin-top: inherit;background-color: rgba(0,0,0,.5);">
                <div class="col s8">
                    <h3 class="eventTitle truncate" title="{{ event.name }}">{{ event.name }}</h3>
                    <p style="margin-top:20px"><small><a href="#" class="modal-trigger" data-target="modal{{ event.id }}">cliquez ici pour en savoir plus</a></small></p>
                </div>
                <div class="col s2">
                <img class="materialboxed" height="85" width="150" src="{{ vich_uploader_asset(event, 'imageFile') }}">
            </li>
            <div id="modal{{ event.id }}" class="modal">
                <div class="modal-content">
                    <div class="row">
                        <div class="col s6">
                            {% if event.name is defined and event.name is not null %}<h4>{{ event.name }}</h4>{% endif %}
                            {% if event.subTitle is defined and event.subTitle is not null %}<p>{{ event.subTitle }}</p>{% endif %}
                            {% if event.emplacement is defined and event.emplacement is not null %}<p>Lieu : {{ event.emplacement }}</p>{% endif %}
                            {% if event.price is defined and event.price is not null %}<p>Tarif : {{ event.price }}</p>{% endif %}
                        </div>
                        <div class="col s6 right">
                            <img class="materialboxed" height="170" width="300" src="{{ vich_uploader_asset(event, 'imageFile') }}">
                        </div>
                    </div>
                    <div class="col s12">
                        {% if event.description is defined and event.description is not null %}<p style="overflow-wrap: break-word;">{{ event.description }}</p>{% endif %}
                    </div>
                </div>
                <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn">OK</a>
                </div>
            </div>
        {% else %}
            <div class="center">
                <h2>Aucun Evenement pour le moment</h2>
            </div>
        {% endfor %}
    </ul>
{% endblock %}
{% block javascripts %}
<script>
$(document).ready(function(){
    $('.modal').modal();
    $('.materialboxed').materialbox();
  });
</script>
{% endblock %}