{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}
{% block body %}
<body style="background: rgb(2,0,36);background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(125,138,204,1) 35%, rgba(0,212,255,1) 100%);">
    <div class="container">
    <h1>Inscription</h1>
        <div class="row col s6 offset-s3" style="margin-top:10vh;">
        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <button class="btn">Register</button>
        {{ form_end(registrationForm) }}
    </div>
    </div>
</body>
{% endblock %}
