{% block header %}
  <nav class="nav-wrapper">
    <a class="brand-logo" href="{{ path('default') }}"><img style="height:56px; width:80px; margin-top:5px" src="{{ asset('images/logo.png') }}"></img></a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul style="padding-left:100px;" class="left hide-on-med-and-down">
      <li><a class="btn" style="border-radius:22px; background-color: rgba(0,0,0,.5); margin-left:5px; "href="{{ path('default') }}"><i class="material-icons">home</i></a></li>
      <li><a class="btn" style="border-radius:22px; background-color: rgba(0,0,0,.5); margin-left:5px;" href="#"><i class="material-icons">perm_phone_msg</i></a></li>
    </ul>
    <ul class="left hide-on-med-and-down">
      <li><a class="btn" style="border-radius:22px; background-color: rgba(0,0,0,.5); margin-left:5px;" href="{{ path('event_index') }}">Evenements</a></li>
      <li><a class="btn" style="border-radius:22px; background-color: rgba(0,0,0,.5); margin-left:5px;" href="{{ path('sondages') }}">Sondages</a></li>
      <li><a class="btn" style="border-radius:22px; background-color: rgba(0,0,0,.5); margin-left:5px;" href="{{ path('association_index') }}">Associations / Clubs</a></li>
      <li><a class="btn" style="border-radius:22px; background-color: rgba(0,0,0,.5); margin-left:5px;" href="{{ path('partner_index') }}">Partenariats</a></li>
    </ul>
    <ul class="right hide-on-med-and-down">
      <li><a class="btn" style="border-radius:22px; background-color: rgba(0,0,0,.5)" href="{{ path('app_login') }}">connexion</a></li>
      <li><a class="btn" style="border-radius:22px; background-color: rgba(0,0,0,.5)" href="{{ path('app_register') }}">inscription</a></li>
    </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo" style="background-color:#924ebd;">
      <li><a class="btn" style="border-radius:22px; background-color: rgba(0,0,0,.5); margin-top:5vh;" href="{{ path('event_index') }}">Evenements</a></li>
      <li><a class="btn" style="border-radius:22px; background-color: rgba(0,0,0,.5); margin-top:5vh;" href="{{ path('association_index') }}">Associations / Clubs</a></li>
      <li><a class="btn" style="border-radius:22px; background-color: rgba(0,0,0,.5); margin-top:5vh;" href="{{ path('partner_index') }}">Partenariats</a></li>
      <li><a class="btn" style="border-radius:22px; background-color: rgba(0,0,0,.5); margin-top:5vh;" href="{{ path('sondages') }}">Sondages</a></li>
      <li><a class="btn" style="border-radius:22px; background-color: rgba(0,0,0,.5); margin-top:5vh;" href="{{ path('app_login') }}">connexion</a></li>
      <li><a class="btn" style="border-radius:22px; background-color: rgba(0,0,0,.5); margin-top:5vh;" href="{{ path('app_register') }}">inscription</a></li>
  </ul>

{% endblock %}

{% block javascripts %}
  <script type="text/javascript">
    $(document).ready(function(){
        $('.sidenav').sidenav();
      });
  </script>
{% endblock %}